:root {
    --fs-800: 2.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.5rem;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

h5, p {
    margin-top: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d3d3d3;
    border-bottom: 2px solid black;
    font-family: 'Lobster', cursive;
    
}

header ul {
    display: flex;
    justify-content: space-around;
    min-width: 20%;
    list-style-type: none;
    font-size: var(--fs-400);
}

 .menuLink:hover, .aboutLink:hover, .contactLink:hover, h1:hover {
    text-decoration: underline;
    cursor: pointer;
}

.homeBackground {
    background: url('../src/images/BlackWhiteCoffee.png') no-repeat center center; 
    background-size: cover;
}

.homeDesc {
    font-size: var(--fs-600);
    font-family: 'Teko', sans-serif;
}

/* END HOME stylings 
   BEGIN MENU stylings */
.menuBackground {
    background: url('../src/images/SampleCoffee.png') no-repeat center center fixed;
    background-size: cover;
}

.menuContainerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menuBoard {
    font-family: 'Teko', sans-serif;
    margin-top: 2.5em;
    border: 2px solid black;
    background-color: #fff8e7;
    opacity: 0.75;
    color: #a0522d; 
    padding: 15px;
}

.drinkH2 {
    font-family: 'Lobster', cursive;
    font-size: var(--fs-500);
    text-decoration: underline;
}

.foodH2 {
    font-family: 'Lobster', cursive;
    font-size: var(--fs-500);
    text-decoration: underline;
}

.menuLi {
    list-style: none;
    opacity: 0.85;
    font-size: var(--fs-400);
    margin: 5px;
}

/* END MENU stylings 
   BEGIN ABOUT stylings */

 .aboutBackground {
    background: url('../src/images/CoffeeShopInterior.png') no-repeat center center;
    background-size: cover;
    overflow: scroll;
 }

 /* Need to create an aboutBoard that hosts the info/wyatt picture, place inside aboutcontainerdiv*/
 .aboutContainerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .aboutBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Teko', sans-serif;
    margin-top: 2.5em;
    font-size: var(--fs-400);
    background-color: #008b8b;
    color: white;
    opacity: 0.8;
    height: 50%;
    max-width: 30%;
    padding: 1.25em;
    border: 2px solid black;
 }

 .aboutImageDiv {
     opacity: 1.0 !important;
     width: 15em;
     height: 15em;
     background: url('../src/images/OrangeCat.png') no-repeat center center;
     background-size: contain;
 } 

 .aboutImageCaption {
     text-align: center;
 }

 .aboutText {
     opacity: 0.85;
 }

 /* END ABOUT stylings 
   BEGIN CONTACT stylings */

 .contactUsBackground {
    background: url('../src/images/ShareCoffee.png') no-repeat center center fixed;
    background-size: cover;
 }

 .contactContainerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .contactBoard {
    border: 4px solid white;   
    border-radius: 10px;
    width: 30%;
    height: 50%;
    margin-top: 3em;
    padding: 20px;
    background-color: #008b8b;
    opacity: 0.8;
    color: white;
 }

 .contactH2 {
    font-family: 'Lobster', cursive;
    font-size: var(--fs-800);
    text-decoration: underline;
 }
 
 .contactInfo {
    font-family: 'Teko', sans-serif;
    font-size: var(--fs-500);
    letter-spacing: 2.5px;
 }

#content {
    width: 100%;
    height: 100%;
    margin-top: 0;
}


