body {
    margin: 0;
    padding: 0;
    background: url('../src/images/BlackWhiteCoffee.png') no-repeat;
    background-size: cover;
    background-position: 50% 35%;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #d3d3d3;
    border-bottom: 2px solid black;
    font-family: 'Lobster', cursive;
}

header ul {
    display: flex;
    list-style-type: none;
    font-size: 1.5rem;
}
 header ul li {
    margin: 0px 25px;
 }
