html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

h5, p {
    margin-top: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #d3d3d3;
    border-bottom: 2px solid black;
    font-family: 'Lobster', cursive;
}

header ul {
    display: flex;
    list-style-type: none;
    font-size: 1.5rem;
}
 header ul li {
    margin: 0px 25px;
 }

 .menuLink:hover, .aboutLink:hover, .contactLink:hover, h1:hover {
    text-decoration: underline;
    cursor: pointer;
}

.homeBackground {
    background: url('../src/images/BlackWhiteCoffee.png') no-repeat center center; 
    background-size: cover;
}

.homeDesc {
    font-size: 2rem;
    font-family: 'Teko', sans-serif;
}

.menuBackground {
    background: url('../src/images/SampleCoffee.png') no-repeat center center fixed;
    background-size: cover;
}

.menuContainerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menuBoard {
    font-family: 'Teko', sans-serif;
    margin-top: 15vh;
    border: 2px solid black;
    background-color: #fff8e7;
    opacity: 0.75;
    color: #a0522d; 
    padding: 15px;
}

.drinkH2 {
    font-family: 'Lobster', cursive;
    font-size: 1.75rem;
    text-decoration: underline;
}

.foodH2 {
    font-family: 'Lobster', cursive;
    font-size: 1.75rem;
    text-decoration: underline;
}

.menuLi {
    list-style: none;
    opacity: 0.85;
    font-size: 1.5rem;
    margin: 5px;
}

 .aboutBackground {
    background: url('../src/images/CoffeeShopInterior.png') no-repeat center center fixed;
    background-size: cover;
 }

 .aboutContainerDiv {
    font-family: 'Teko', sans-serif;
    margin: auto;
    font-size: 1.5rem;
    background-color: #002366;
    color: white;
    opacity: 0.8;
    height: 100%;
    width: 30%;
    border: 2px solid black;
 }

 .aboutImageDiv {
     opacity: 1.0 !important;
     width: 100%;
     height: 50%;
     background: url('../src/images/OrangeCat.png') no-repeat center center;
     background-size: contain;
 } 

 .aboutImageCaption {
     text-align: center;
 }

 .aboutText {
     opacity: 0.85;
 }

 .contactUsBackground {
    background: url('../src/images/ShareCoffee.png') no-repeat center center fixed;
    background-size: cover;
 }

#content {
    width: 100%;
    height: 100%;
    margin-top: 0;
}


